<div class="p">
   <div class="table-grid mb">
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-a.css">
               <input type="radio" name="setting-theme" checked="checked" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-info"></span>
                  <span class="color bg-info-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-b.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-green"></span>
                  <span class="color bg-green-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-c.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-purple"></span>
                  <span class="color bg-purple-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-d.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-danger"></span>
                  <span class="color bg-danger-light"></span>
               </span>
               <span class="color bg-white"></span>
            </label>
         </div>
      </div>
   </div>
   <div class="table-grid mb">
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-e.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-info-dark"></span>
                  <span class="color bg-info"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-f.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-green-dark"></span>
                  <span class="color bg-green"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-g.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-purple-dark"></span>
                  <span class="color bg-purple"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
      <div class="col mb">
         <div class="setting-color">
            <label load-css="app/css/theme-h.css">
               <input type="radio" name="setting-theme" />
               <span class="icon-check"></span>
               <span class="split">
                  <span class="color bg-danger-dark"></span>
                  <span class="color bg-danger"></span>
               </span>
               <span class="color bg-gray-dark"></span>
            </label>
         </div>
      </div>
   </div>
</div>