// START Off Sidebar (right)
nav
  tabset(justified="true")
    tab
      tab-heading 
        em.icon-equalizer.fa-lg
      div(ng-include="'app/views/app_settings.html'")

    tab
      tab-heading
        em.icon-users.fa-lg
      

// END Off Sidebar (right)