<div class="text-xs-center container nav_height ">
	<div class="mt-4 col-md-8 col-md-offset-2 col-md-offset-right-2 col-xs-12">
		<center>
			<h3 class="text-center">{{"business.BUSINESS_ALREADY" | translate}}</h3>
			<br/>

			<button class="btn btn-success btn-raised" ng-click="yesFunction()">{{"business.YES" | translate}}</button>
			<button class="btn btn-default btn-raised" ng-click="noFunction()">{{"business.NO" | translate}}</button>

			<p class="mt-4 mb-4 loose_pack">{{"business.CONTACT_US_CLAIM" | translate}}</p>
		</center>
	</div>
</div>
<div ng-include="'email-register.html'"></div>