<div class="container nav_height" ng-cloak>
    <h1 class="text-center wow fadeInDown animation-delay-5 discover ng-binding mb0">{{"business.CREATE_BUSINESS_LISTING" | translate}}</h1>
    <h3 class="text-center wow fadeInDown animation-delay-5  mt0 ng-binding">{{"business.CREATE_BUSINESS_LISTING_1" | translate}}</h1>
        <div class="card card-dark border_clouds wow slideInRight animation-delay-1 col-md-offset-1 col-md-offset-right-1 col-md-10 col-xs-12"
            ng-cloak>
            <!-- <div class="tab-content"> -->
            <form name="myFormcard card-dark border_clouds wow slideInRight animation-delay-1" novalidate parsley-validate validate-form="">
                <!--  <h4  ng-cloak>{{"business.FREE_TRIAL" | translate}}</h4> -->
                <fieldset>
                    <div class="form-group label-floating">
                        <label for="businessName" class="control-label">{{"business.BUSINESS_NAME" | translate}}</label>
                        <input type="text" class="form-control" name="businessName" ng-model="newUser.businessName" required="">
                    </div>
                    <div class="form-group label-floating">
                        <label for="nameOfPerson" class="control-label">{{"business.NAME_OF_PERSION" | translate}}</label>
                        <input type="text" class="form-control" name="nameOfPerson" ng-model="business.NameOfPerson" required="">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">{{"business.ADDRESS" | translate}}</label>
                        <input type="text" class="form-control" ng-model="newUser.address" required="" name="address">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">{{"business.CITY" | translate}}</label>
                        <input type="text" class="form-control" ng-model="newUser.city" required="" name="city">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">{{"business.STATE" | translate}}</label>
                        <select class="btn  dropdown-toggle form-control" required="" ng-model="newUser.state" ng-options="c.name as c.name for c in states">
                        </select>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">{{"business.CATEGORY" | translate}}</label>
                        <select class="btn dropdown-toggle form-control " required="" ng-model="newUser.category" ng-options="c.category as c.category for c in listOfCategory">
                        </select>
                    </div>
                    <div class="form-group label-floating">
                        <label for="businessRole" class="control-label">{{"business.ROLE" | translate}}</label>
                        <select class="btn dropdown-toggle form-control" required="" ng-model="newUser.role" ng-options="r.role as r.role for r in listOfRoles">
                        </select>
                    </div>
                    <div class="form-group label-floating">
                        <label for="email" class="control-label">{{"business.EMAIL" | translate}}</label>
                        <input type="email" ng-model="newUser.email" name="email" class="form-control" required="" data-parsley-trigger="change">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">{{"business.PHONE" | translate}}</label>
                        <input type="text" class="form-control" masked="" data-inputmask="'mask': '(999) 999-9999'" name="phone" ng-model="newUser.phone"
                            required="required" data-parsley-trigger="change">
                    </div>
                </fieldset>
                <center>
                    <div class="form-group">
                        <div>
                            <button type="submit" ng-click="createBusinessUser(newUser)" class="btn btn-raised btn-success" novalidate="novalidate" ng-disabled="myForm.$invalid">{{"business.CREATE_ACCOUNT" | translate}}</button>
                        </div>
                    </div>
                </center>
            </form>
            <!-- </div> -->
        </div>
</div>
<div ng-include="'custom-dialog.html'"></div>