
<h3>
  <div class="row">
    <div class="col-lg-7">
      Dashboard -
      <strong>Visitor Insights</strong>
    </div>
    <div class="col-lg-3 pull-right">
      <div class="btn-group">
        <button type="button" class="btn" ng-repeat="period in PERIODS" ng-class="selectedPeriod == period ? 'btn-primary':'btn-default'"
          ng-click="setPeriod(period)">{{period | translate}}</button>

      </div>
    </div>
  </div>
</h3>

<div class="container-fluid">

  <!-- START DATATABLE 2 -->
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">New Visitors</div>
        </div>
        <div collapse="visitorBarChart" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <stacked-bar-chart id="visitorsChart" url="{{visitorRequestUrl}}" format-data-fx="formatStackData" class="chart-bar-stacked flot-chart rotateLabel"
              mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-lg-8 col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">New Visitors - By Service Type</div>
        </div>
        <div collapse="visitorBarChart" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <series-bar-chart id="visitorsChartServiceType" url="{{visitorRequestByServiceType}}" format-data-fx="formatBarData" class="flot-chart rotateLabel"
              mode="{{xAxisMode}}"></series-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">New Visitors - By Occasion</div>
        </div>
        <div collapse="visitorBarChart" class="panel-wrapper">
          <div class="panel-body">
            <series-bar-chart id="visitorsChartReason" url="{{visitorRequestByValue}}" format-data-fx="formatBarDataForSubName" class="chart-bar-stacked flot-chart rotateLabel"
              mode="{{xAxisMode}}"></series-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>

  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <!-- START widget-->
      <div id="repeatVisitorBarChart" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Repeat Visitors</div>
        </div>
        <div collapse="repeatVisitorBarChart" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <stacked-bar-chart id="repeatVisitorsChart" url="{{repeatVisitorRequestUrl}}" format-data-fx="formatStackData" class="chart-bar-stacked flot-chart rotateLabel"
              mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-lg-8 col-sm-12">
      <!-- START widget-->
      <div id="repeatVisitorBarChart1" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Repeat Visitors - By Service Type</div>
        </div>
        <div collapse="repeatVisitorBarChart1" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <series-bar-chart id="repeatVisitorsChartServiceType" url="{{repeatVisitorRequestByServiceType}}" format-data-fx="formatBarData"
              class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}"></series-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <!-- START widget-->
      <div id="percentVisitorsChart0" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">%Repeat Visitors</div>
        </div>
        <div collapse="percentVisitorsChart0" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <stacked-bar-chart id="percentVisitorsChart" url="{{percentVisitorRequestUrl}}" format-data-fx="formatStackData" class="chart-bar-stacked flot-chart rotateLabel"
              mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-lg-8 col-sm-12">
      <!-- START widget-->
      <div id="percentVisitorsChart2" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">%Repeat Visitors - By Service Type</div>
        </div>
        <div collapse="percentVisitorsChart2" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <series-bar-chart id="percentVisitorsChartServiceType" url="{{percentVisitorRequestByServiceType}}" format-data-fx="formatBarData"
              class="flot-chart rotateLabel" mode="{{xAxisMode}}"></series-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-sm-12">
      <!-- START widget-->
      <div id="visitorBarChart100" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">%Repeat Visitors - By Occasion</div>
        </div>
        <div collapse="visitorBarChart100" class="panel-wrapper">
          <div class="panel-body mb-lg">
            <series-bar-chart id="percentVisitorsChartReason" url="{{percentVisitorRequestByValue}}" format-data-fx="formatBarDataForSubName"
              class="flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></series-bar-chart>
          </div>
        </div>
      </div>
      <!-- END widget-->
    </div>
  </div>
</div>