<footer class="ms-footer" ng-cloak ng-hide="embeddedFlag === true">
        <span class="footer-text"> <a href="{{baseUrl}}/cities" style="text-decoration: none; color: #fff;"> {{'footBar.COPY_RIGHTS' | translate}}</a></span>
</footer>

<div class="btn-back-top">
	<div class="pull-right">
    <a href="//www.securitymetrics.com/site_certificate?id=1597115&tk=be1ae7418319c1933c4ab0e5f43885de"
        target="_blank" rel="noopener noreferrer">
        <img src="https://www.securitymetrics.com/static/apps/super/assets/img/PCI_DSS_Validated_blue.2.png"
        alt="SecurityMetrics Credit Card Safe" class="img-responsive mb-1" style="width: 80%"/>

    </a>
    </div>
    <br>
    <!-- <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised pull-right"><i class="zmdi zmdi-long-arrow-up"></i>
    </a> -->
</div>
