<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card card-dark border_clouds animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h2 class="no-mt">7 Popular Cocktails Every Bartender and Cocktail Enthusiast Must Know</h1>
                    <p>When we talk about drinks at bars, nightclubs and pubs, it is not just about hard alcohol and beer.  It is about the new trends.  We discovered that more and more people these days prefer exotic and colorful cocktails. </p>

                    <p>Before we begin, let us clear the difference between cocktails and mocktails. So cocktails are alcoholic drinks made by mixing alcoholic beverages with soft drinks, fruit juices or other alcohols. Mocktails are non-alcoholic drinks created by combining different fruit juices, iced tea or soft drinks.</p>
                    <p>Some of the cocktails were created over a century ago. Some are well-known favorites of all time, and some have evolved over the years. Creative bartenders are due credit for creating colorful and exotic cocktails. </p>
                    
                    <p>We recently interviewed a few bartenders and owners to find out about the most popular cocktails among locals. They suggested these seven cocktail drinks that every nightlife venue should have,</p>

                  <h3 >Margarita</h3>
                  <img src="<%= assets %>/img/blog/margarita_blog.jpg" alt="margarita_blog-image" class="img-responsive mb-4">
                    <p>A margarita is a cocktail of tequila, triple sec, and lime or lemon extract, usually served with salt on the rim of the glasses. The drink is served shaken with ice, blended with ice, or without ice.</p>
                    <h3 >Margarita</h3>
                    <img src="<%= assets %>/img/blog/mojito_blogs.jpg" alt="mojito_blogs-image" class="img-responsive mb-4">
                    <p>It is a classic Cuban highball. A mojito is a drink that consists of five constituents: white rum, sugar, lime juice, soda water, and mint.</p>
                    <h3 >Bloody Mary</h3>
                    <img src="<%= assets %>/img/blog/bloody_mary_blogs.jpg" alt="bloody_mary_blogs-image" class="img-responsive mb-4">
                    <p>A Bloody Mary is a drink containing vodka, tomato juice, and mixtures of other spices and flavorings of Worcestershire sauce, Piri Piri sauce, horseradish, Hot Sauce, beef consommé or bouillon, lemon juice, celery, olives, salt, black pepper, cayenne pepper, lime juice and celery salt.</p>
                    <h3 >Cosmopolitan</h3>
                    <img src="<%= assets %>/img/blog/cosmopolitan_blogs.jpg" alt="cosmopolitan_blogs-image" class="img-responsive mb-4">
                    <p>A cosmopolitan is a cocktail made with vodka, triple sec, cranberry juice, and freshly squeezed or flavored lime juice.</p>
                    <h3 >Sangria</h3>
                    <img src="<%= assets %>/img/blog/sangria_blogs.jpg" alt="sangria_blogs-image" class="img-responsive mb-4">
                    <p>Sangria is an alcoholic drink of Spanish and Portuguese influence. Punch, the sangria traditionally consists of red wine and chopped fruit, often with other ingredients such as orange juice or brandy.</p>
                    <h3 >Manhattan</h3>
                    <img src="<%= assets %>/img/blog/manhattan_blogs.jpg" alt="sangria_blogs-image" class="img-responsive mb-4">
                    <p>A Manhattan is a drink made with whiskey, sweet vermouth, and bitters. Used whiskeys include rye, Canadian whiskey, bourbon, blended whiskey, and Tennessee whiskey.</p>
                    <h3>Martini</h3>
                    <img src="<%= assets %>/img/blog/martini_blogs.jpg" alt="martini_blogs-image" class="img-responsive mb-4">
                    <p>The martini is a cocktail produced with gin and vermouth and decorated with an olive or a citron/lemon twist. Over many years, the martini has become one of the popularly-known mixed alcoholic drinks.</p>
                    <p>This list has been created after a small research survey analysis, and we hope this list does help to some of the nightclubs to make sure to include these drinks in their drinks menu. </p>
                    <p>We did our part of letting you know what are some of the popular cocktails and now if you are reading this article, it is your turn to let us know which is your favorite drink on the list. </p>

                    <a class="btn  btn-raised btn-primary pr-1 pl-1" href="http://onelink.to/98dmnv" target="_new">
                        <i class="zmdi zmdi-download"></i> VenueLytics for Consumers </a>
                    <a class="btn btn-raised btn-primary pr-2 pl-1" href="http://onelink.to/xw558c" target="_new">
                         <i class="zmdi zmdi-download"> </i> VenueLytics for Business</a>
                </div>
            </div>
        </div>
    </div>
</div>