<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-dark border_clouds animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">What Is the Guest List and How to Get On It</h1>
                    <img src="<%= assets %>/img/blog/blog-3.jpg" alt="guestBlog-image" class="img-responsive mb-4">
                    <p>Guest list might be a bit confusing term to some people who are new to nightclubs, bars, and pubs. Today, we are going to share with you some insights. Most of the nightlife venues have their own guest list rules and you cannot simply get on that list. So, play by the rules and you will have a chance to be on that list.</p>

                    <h3 >What is the meaning of guest list in the nightlife venues?</h3>
                    <p>In a simple language, guest list means to have a guaranteed entry (in many cases), as long as you are dressed adhere to the venue’s dress code and style. In other words, we can also say, guest list is one of the several ways to determine who gets into an exclusive party.
                    This has its own advantages for both the parties, the club. Clubs often set the tone for the night by having the right crowed.  
                    </p>
                    <p>In the nightlife venues, believe it or not, people with presentable attitude and appropriate dress code have an easier time being getting in a club. You can also take a look at this discussion about guest list at Tripadvisor to get an overview about the guest list.</P>
                    <img src="<%= assets %>/img/blog/guest.jpg" alt="guestAsset-image" class="imgborder ml-2 mb-2 pull-right" style="width: 400px;">

                    <h3>How to get on the guest list?</h3>

                    <p>For some venues, it is easy. You can just call or book to see yourself on the guest list through their website. But, for popular events, things are done differently -- there are promoters that can help you get on the guest list.</p>
                    <p>These promoters can be easily found on social media channels like Instagram, and you can directly message or call them to get on the guest list. Request to be on the guest list through the promoter and make sure to attend the event when you get on the guest list.</p>
                    <p>There might be a small twist! Getting on the guest list is not everything. It might not guarantee entry to your favorite nightclub. Other factors matter too, your dress code, time of arrival, and your attitude.</p>

                    <h3 >Other factors that impact to be on the guest list</h3>


                    <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Making bottle service reservations: Opting for bottle service reservations in advance is a good way to bypass the long lines and guest list problem. You can book bottle service through ItzFun app.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Looks and attitude: Like we mentioned already, people with the right attire and attitude have a better chance of getting in the venues. A cool looking crowd with the right attitude sets the ambience for the event.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Reserve early through apps or promoters. You can get on the list quickly by making sending in the request sooner than later</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Size of your group, the right male-to-female ratio and how much you are willing to spend also make a difference.</li>
                    </ul>
                    <p>This is a small introduction to the world of the guest list, and we will discuss more such nightlife concepts in the days to come. Hope you have a great clubbing.</p>

                    <a class="btn  btn-raised btn-primary pr-1 pl-1" href="http://onelink.to/98dmnv" target="_new">
                        <i class="zmdi zmdi-download"></i> VenueLytics for Consumers </a>
                    <a class="btn btn-raised btn-primary pr-2 pl-1" href="http://onelink.to/xw558c" target="_new">
                         <i class="zmdi zmdi-download"> </i> VenueLytics for Business</a>
                </div>
            </div>
        </div>
    </div>
</div>
