<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-dark border_clouds animated materialUp animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">What Is Bottle Service and Facts You Should Know</h1>
                    <img src="<%= assets %>/img/blog/blog-2.jpg" alt="bottle Service" class="img-responsive mb-4">
                    <p>Bottle service is also called table service, and it is the ONLY way to secure a table at your favor-ite night spot (bars and clubs). Almost all clubs these days offer table services. The only way to get on the guest list and bypass the line for any bars or clubs is through table reserves. </p>

                    <p>Wikipedia defines bottle service as the sale of liquor by the bottle in most American lounges and nightclubs. The purchase of bottle service typically includes a reserved table for the patron's party and mixers of the patron's choice.</p>
                    <h3 >Advantages of Bottle Service</h3>
                    <p>Having bottle service at a club is an enjoyable experience.  It makes you feel like a VIP for the night.  You can meet new people and making new friends and have an amazing experience.  In fact, nights owls like to hang out and party with the cool VIP crowd.</p>
                    <img src="<%= assets %>/img/blog/food.png" alt="bottleAsset-image" class="imgborder ml-2 mb-2 pull-right" style="width: 400px;">

                    <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Bottle service is hassle free; you don't have to wait in a long line for your drinks.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Well-served with bottles of high-quality liquor and mixers is a great experience.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>You get a celebrity treatment when you opt for a bottle service.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>Timely delivery of drinks with your own host/hostess in most cases.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>It is a stress buster. Get to make new friends and have a better experience.</li>
                    </ul>


                    <p>So yes, bottle service works well for both individuals and groups. The price may be a little high but it is well worth the experience.  With all the week's hectic work and pressure, everybody wants to have some fun on the weekends.</p>
                    <p>We specially suggest to get bottle service if you have a bigger group. You will have your own private table or private section to party. It is also more cost effective as everyone can pitch in.</p>
                    <p>Now with ItzFun app, you can easily order bottle service at your favorite venues.</p>
                    <p>Before considering bottle service, you need to know some important facts:</p>

                    <ul class="list-group">
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Venue popularity:</strong>If the venue is too popular, then you can expect the prices to be higher. Book early.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Weekends:</strong> There is a huge demand for venues on the weekends. Plan ahead.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Theme:</strong> For special events (DJs, theme night, events and parties), you can expect some high prices for the bottle service. Look for added complimentary services and options.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Venue size:</strong> Smaller popular venues generally charge more for bottle services as they sell out fast. Do your research.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Group size: </strong> Depending on our group size, some venues charge additional fees. Find out the optimal pricing.</li>
                      <li class="list-group-item"><i class="fa fa-dot-circle-o"></i><strong>Group mix: </strong> Some venues prefer groups to have an equal male-to-female ratio to keep a balance.  Invite the right mix.</li>
                    </ul>
                    <p>Make sure you consider these facts before ordering your next bottle service. We are always here to help you with any of your questions regarding bottle service. Happy clubbing!  
                    </p>
                    <p></p>
                    <a class="btn  btn-raised btn-primary pr-1 pl-1" href="http://onelink.to/98dmnv" target="_new">
                        <i class="zmdi zmdi-download"></i> VenueLytics for Consumers </a>
                    <a class="btn btn-raised btn-primary pr-2 pl-1" href="http://onelink.to/xw558c" target="_new">
                         <i class="zmdi zmdi-download"> </i> VenueLytics for Business</a>
                </div>
            </div>
        </div>
    </div>
</div>
