<fieldset>
	<legend>Contact Information</legend>
	<!-- START row -->
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Email</label> <input type="text" name="email"
					placeholder="john@snow.com" class="form-control" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Phone</label> <input type="text" name="phone"
					placeholder="11-2345-6789" class="form-control" />
			</div>
		</div>
	</div>
					<!-- END row -->
</fieldset>