<div class="col-lg-4 col-md-12">
	<!-- START widget-->
	<div class="panel widget bg-warning">
		<div class="row row-table">
			<div class="col-xs-4 text-center bg-warning-dark pv-lg" ng-style="instoreachievement.leftPaneCode">
				<em class="icon-trophy fa-3x"></em>
			</div>
			<div class="col-xs-8 pv-lg" ng-style="instoreachievement.rightPaneCode">
				<div class="h1 m0 text-bold">{{instoreachievement.count}}</div>
				<div class="text-uppercase">{{instoreachievement.description}}</div>
			</div>
		</div>
	</div>
</div>