<!-- START panel-->
<div class="col-lg-3 col-md-6 col-sm-12">
	<div class="panel widget  panel_grad_dark cpointer" ng-class="card.bgColor" >
	    <div class="row row-table">
	      <div class="col-xs-4 text-center panel_grad_dark pv-lg" ng-class="card.bgColorSecondary">
	         <em class="fa fa-3x" ng-class="card.icon"></em>
	      </div>
	      <div class="col-xs-8 pv-l p0 text-right">
	         <div class="h3 p-sm m0 text-bold col-xs-12">{{card.value}}</div>
	         <div class="text-uppercase p-sm col-xs-12">{{card.label}}</div>
	      </div>
	   	</div>
	</div>
</div>