<div class="nav_height container no-p" ng-cloak>
    <h1 class="text-center mt-4 animated zoomInDown animation-delay-5" ng-hide="embeddedFlag === true">{{detailsOfAttractions.venueName}}</h1>
    <div class="col-xs-12">
        <article class="card card-dark border_clouds wow slideInRight animation-delay-1 mb-4 {{blackTheme}}">
            <div class="container" ng-show="embeddedFlag === true">
                <div class="text-center">
                    <h1 class="no-m ms-site-title center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{detailsOfAttractions.venueName}}</h1>
                </div>
            </div>
            <div class="card-block card-block-big pt-1">
                <div>
                    <center ng-show="imageParam === 'Y' || imageParam === 'y' || removeAllTabs == true">
                        <div id="carousel-{{$index}}" class="ms-carousel carousel slide" data-ride="carousel">
                            <div class="carousel-inner carousel-inner-class" role="listbox">
                                <div class="item {{attraction.active}}" ng-repeat="attraction in detailsOfAttractions.imageUrls">
                                    <img ng-src="{{attraction.originalUrl}}" alt="Venue Image" class="galleryLrg" />
                                </div>
                            </div>

                            <span data-target="#carousel-{{$index}}1" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control"
                                role="button" data-slide="prev" ng-show="detailsOfAttractions.imageUrls.length > 1" style="margin-left: 25px;">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </span>
                            <span data-target="#carousel-{{$index}}1" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control"
                                role="button" data-slide="next" ng-show="detailsOfAttractions.imageUrls.length > 1" style="margin-right: 25px;">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </span>
                        </div>
                    </center>
                    <div class="loose_pack mt-1" ng-class="blackTheme">
                        <div>
                            <b>Address:</b> {{detailsOfAttractions.address}},
                            <br>
                            <b>Contact:</b> {{detailsOfAttractions.phone}}
                            <br>
                            <div ng-repeat="(key, value) in venueTimes">
                                <span class="h6">{{key}}</span>:
                                <span>{{value}}</span>
                            </div>
                            <br>
                            <a href="{{detailsOfAttractions.website}}" target="_new">Website: {{detailsOfAttractions.venueName}}</a>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mont-font-regular loose_pack">{{detailsOfAttractions.description}}</p>
                <p ng-if="detailsOfAttractions.description === ''">No description</p>
                <br>
                <div class="h3 right-line block-ellipsis-1">Recommended Attractions Near {{detailsOfAttractions.venueName}}</div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="zmdi zmdi-filter-list"></i>Categories</h3>
                                </div>
                                <div class="card-block no-pb">
                                    <form class="form-horizontal">
                                        <div class="form-group mt-1">
                                            <div class="radio no-mb" ng-repeat="category in attractionsCategories">
                                                <label>
                                                    <input type="radio" name="optionsRadios" value="{{category.value}}" checked="" class="filter active" data-filter="all" ng-click="updateSelection(category.value)">
                                                    <span class="circle"></span>
                                                    <span class="check"></span>{{category.name}}</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="Container">
                                <div class="masonry-container row">
                                    <div class="col-md-4 col-sm-6 col-xs-12 masonry-item p-min wow fadeInUp animation-delay-2" ng-repeat="attraction in listOfAttractions">
                                        <article class="card border_clouds wow materialUp animation-delay-5">
                                            <figure class="ms-thumbnail ms-thumbnail-left">
                                                <div class="imgHolder">
                                                    <img ng-src="{{attraction.imageUrls[0].smallUrl || attraction.imageUrls[0].originalUrl}}" alt="{{attraction.venueName}}"
                                                        class="img-responsive venueImages">
                                                </div>
                                            </figure>
                                            <div class="text-center block-ellipsis-1 pb-1 pt-1 ">
                                                <a class="col-xs-12" href="{{getAttractionsDetailUrl(attraction)}}" target="_blank" title="{{attraction.venueName}}">{{attraction.venueName}}</a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>