<h3>
   <div class="row">
     <div class="col-lg-7">
     Dashboard - <strong>Reservation Insights</strong>
     </div>
    <div class="col-lg-3 pull-right">
         <div class="btn-group">
               <button type="button" class="btn" ng-repeat="period in PERIODS" ng-class="selectedPeriod == period ? 'btn-primary':'btn-default'" ng-click="setPeriod(period)">{{period | translate}}</button>
              
         </div>  
      </div>
    </div>
</h3>

<div class="container-fluid">
  
   <!-- START DATATABLE 2 -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <!-- START widget-->
      <div id="bookingsBarChart1" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">All Reservations</div>
         </div>
         <div collapse="bookingsBarChart1" class="panel-wrapper">
            <div class="panel-body  mb-lg">
               <stacked-bar-chart id="reservationsChart" url="{{reservationRequestUrl}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-md-6 col-sm-12">
      <!-- START widget-->
      <div id="bookingsBarChart11" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">All Reservations by Day</div>
         </div>
         <div collapse="bookingsBarChart11" class="panel-wrapper">
            <div class="panel-body  mb-lg">
               <stacked-bar-chart id="reservationsChart1" url="{{reservationDayRequestUrl}}" format-data-fx="formatStackData"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
      <!-- START widget-->
      <div id="bookingsBarChart2" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Reservations - By Service Type</div>
         </div>
         <div collapse="bookingsBarChart2" class="panel-wrapper">
            <div class="panel-body  mb-lg">
               <series-bar-chart id="reservationsChartServiceType" url="{{reservationRequestByServiceType}}" format-data-fx="formatBarData"
               class="flot-chart rotateLabel" mode="{{xAxisMode}}" ></series-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
    <div class="col-sm-12">
      <!-- START widget-->
      <div id="bookingsBarChart3" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Reservations - By Occasion</div>
         </div>
         <div collapse="bookingsBarChart3" class="panel-wrapper">
            <div class="panel-body  mb-lg">
               <!-- <stacked-bar-chart id="reservationsChartReason" url="{{reservationRequestByValue}}" format-data-fx="formatStackDataForSubName"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}" y-pos="{{yPos}}" ></stacked-bar-chart> -->
               <series-bar-chart id="reservationsChartReason" url="{{reservationRequestByValue}}" format-data-fx="formatBarDataForSubName"
               class="flot-chart rotateLabel" mode="{{xAxisMode}}" ></series-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <!-- START widget-->
      <div id="zipBarChart1" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Reservations by City</div>
         </div>
         <div collapse="zipBarChart1" class="panel-wrapper">
            <div class="panel-body mb-xxl">
               <stacked-bar-chart id="zipChart" url="{{cityRequestByValue}}" format-data-fx="formatDataAggBysubNameByTotal"
               class="flot-chart rotateLabel" mode="categories"></stacked-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>

    <div class="col-sm-12 mb6">
      <!-- START widget-->
      <div id="zipBarChart2" class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Reservations - By Service Type and Cities</div>
         </div>
         <div collapse="zipBarChart2" class="panel-wrapper">
            <div class="panel-body  mb-xxl">
               <series-bar-chart id="zipChartServiceType" url="{{cityRequestByServiceType}}" format-data-fx="formatBarDataBy12"
               class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}"></series-bar-chart>
            </div>
         </div>
      </div>
      <!-- END widget-->
    </div>
  </div> 
 <div class="row">
   <div class="col-sm-12 mb6">
     <div id="zipBarChart2" class="panel panel-default">
        <div class="panel-heading">
           <div class="panel-title">Advance Bookings (In days)</div>
        </div>
        <div collapse="zipBarChart2" class="panel-wrapper">
           <div class="panel-body  mb-xxl">
              <series-line-chart id="AdvanceBookingsByAVG" url="{{performanceRequestByServiceType}}" format-data-fx="formatLineDataForSubName"
              class="chart-bar-stacked flot-chart rotateLabel" mode="{{xAxisMode}}"></series-line-chart>
           </div>
        </div>
     </div>
   </div>
 </div>

</div>
