<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
            <toaster-container
            toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
         <p class="text-center pv">PASSWORD RESET</p>
         <form role="form">
            <p class="text-center">Fill your email to receive instructions on how to reset your password.</p>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Email address</label>
               <input id="resetInputEmail1" type="email" placeholder="Enter email" autocomplete="off" ng-model="account.email" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <button type="button" class="btn btn-danger btn-block" ng-click="recoverPassword(account)">Reset</button>
            <button type="button" class="btn btn-success btn-block" ng-click="goResetScreen(account)">I have a passcode</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>