<div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
            <div class="">
                <h2>Guest List</h2>
                <p class="title_desc">Productivity Tools and Services.</p>
                <!-- <img src="<%= assets %>/img/BreakThrough/reservation.png" alt="breakThroughReservation" class="img-responsive mb-4"> -->
            </div>
                
 
            <div class="col-xs-12 p-min">
                <div class="col-md-7 col-xs-12 no-pr">
                    <img src="<%= assets %>/img/BreakThrough/guestList/gueslist_image1.jpeg" alt="guestList"
                        class="img-responsive mb-2">
                </div>
                <div class="col-md-5 col-xs-12 mt-4 no-pl">  
                    <div class="col-xs-12">
                        <span class="title-bold mb0">Guest List</span>
                        <p>For Patrons who Want to be put on the VIP Guest List</p>
                   </div>
                    <div  class="col-xs-12 mt-4">
                        <span class="title-bold mb0">FastPass</span>
                        <p>Offer VIP FastPass for Patrons who want to Pay Extra to skip the line</p>
                    </div>
                     <div class="col-xs-12 mt-4">
                        <span class="title-bold mb0">Insights and Reports</span>
                        <p>View the business and customer statistics and Insights in Real-Time.</p>
                    </div>
                    <div class="col-xs-12 mt-4 mb-4">
                        <span class="title-bold mb0">Lost &amp; Found</span>
                        <p>Customers can Message business Immediately for Lost &amp; Found Items</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
