
<div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
            <div class="">
                <h2>Campaign &amp; Loyalty Management</h2>
                <p class="title_desc">From creating and promoting Deals to campaigns and events, VenueLytics covers all and provides tool for a business to promote through ItzFun, Website, and Social Media</p>
                <!-- <img src="<%= assets %>/img/BreakThrough/privateEvent.png" alt="breakThroughPrivate" class="img-responsive mb-4"> -->
            </div>
            <div class="col-xs-12 mt-4 p-min">
                <div class="col-md-8 col-xs-12 mb-4 p-min">
                    <img src="<%= assets %>/img/BreakThrough/Deals/deals_event_image.png" alt="" class="img-responsive ">
                </div>
                <div class="col-md-4 col-xs-12 p-min">
                    <div class="col-xs-12">
                        <span class="title-bold mb0">Create deals</span>
                        <p class="mb0">For your customers and Promote them through all channels</p>
                    </div>
                    <div class="col-xs-12 mt-4">
                        <span class="title-bold mb0">Setup Special events</span>
                        <p class="mb0">Like DJ nights, theme nights, promote event &amp; sell tickets through VenueLytics Platform</p>
                    </div>
                    <div class="col-xs-12 mt-4 mb-4">
                        <span class="title-bold mb0">Monitor and manage</span>
                        <p class="mb0">Any campaign and deals in real-time to measure success.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
