<div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
            <div class="">
                <h2>Private Events &amp; Ticketing</h2>
                <p class="title_desc">Offer Private Events to Patrons looking to host an event</p>
                <!-- <img src="<%= assets %>/img/BreakThrough/privateEvent.png" alt="breakThroughPrivate" class="img-responsive mb-4"> -->
            </div>
            <div class="col-xs-12 p-min">
                <div class="col-md-6 col-xs-12">
                    <img src="<%= assets %>/img/BreakThrough/hand_private_events.png" alt="" class="img-responsive ">
                </div>
                <div class="col-md-6 col-xs-12 mt-2 p-min">
                    <div class="col-xs-12 no-p">
                        <span class="title-bold mb0">Create &amp; Publish</span>
                        <p class="mb0">Party Packages for Groups on ItzFun, Website, Social Media</p>
                    </div>
                    <div class="col-xs-12 mt-4 no-p">
                        <span class="title-bold mb0">Promote and Advertise</span>
                        <p class="mb0">Packages through all Available Channels</p>
                    </div>
                    <div class="col-xs-12 mt-4 no-p">
                        <span class="title-bold mb0">Events &amp; Ticketing</span>
                        <p class="mb0">Complete off-line and on-line end-to-end ticketing solution.</p>
                    </div>
                    <div class="col-xs-12 mt-4 no-p">
                        <span class="title-bold mb0">Messaging and Notification</span>
                        <p class="mb0">Real-Time interaction with customers when Purchasing a Party Package</p>
                     </div>
                    <div class="col-xs-12 mt-4 no-p">
                        <span class="title-bold mb0">360&deg; View of Venue</span>
                         <p class="mb0">Customers can view the Venue before booking</p>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</div>
