<div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
            <div class="">
                <h2>Real Time Reservation</h2>
                <p class="title_desc">Comprehensive system for table reservation, bottle services, private events and event booking.  Whether your customer is looking to book a table or host an event, our interactive reservation system connects the customers directly to your business and ensures a seamless transaction start to finish. Customers can view and book services via ItzFun app, through your website or your social media channel.</p>
                <!-- <img src="<%= assets %>/img/BreakThrough/reservation.png" alt="breakThroughReservation" class="img-responsive mb-4"> -->
            </div>
            <div class="col-xs-12 mt-6 no-p no-m">
                <div class="col-md-4 col-xs-12 mt-md-100 mt-xs-0 no-pl mb-2">
                    <div class="col-xs-12 mb-4">
                        <span class="no-p title-bold mb0">Real-Time Reservation</span>
                        <p class="mb0">VIP Bottle Services, Table and Private Event Booking</p>
                    </div>
                    <div class="col-xs-12 mb-4">
                         
                        <sapn class="no-p title-bold mb0">Create and Manage</sapn>
                        <p class="mb0">Instant Wait list for Services</p>
                        
                    </div>
                    <div class="col-xs-12 mb-6">
                        <span class="no-p title-bold  mb0">Walkins</span>
                        <p class="mb0">Real-time Walkins &amp; check-in management for Reservation</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 mt-2 mb-2">
                    <img src="<%= assets %>/img/BreakThrough/RealTime/realtime_reservation.png" alt="RealTimeReservation"
                        class="img-responsive center_content">
                </div>
                
                <div class="col-md-4 col-xs-12 mt-md-100 mt-xs-0 no-pl mb-2">
                    <div class="col-xs-12 mb-4">    
                        <span class="no-p title-bold mb0">Instant Messaging</span>
                        <p class="mb0">and interaction with customers SMS, Push, Email, Chat</p>
                    </div>
                    <div class="col-xs-12 mb-4">
                        <span class="no-p title-bold mb0">Omni Channel</span>
                        <p class="mb0">Reserve through ItzFun, Website, or Social Media</p>
                    </div>
                    <div class="col-xs-12 mb-6">
                        <h3 class="no-p title-bold mb0">360&deg; View of Venue</h3>
                        <p class="mb0">Tables, Availability &amp; Live Streaming</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
