<div class="container">
    <div class="col-md-offset-1 col-md-10 col-md-offset-right-1 col-xs-12 mt-4">
        <div class="animated materialUp animation-delay-5">
            <div class="">
                <h2>Business &amp; WiFi Analytics</h2>
                <p>Easy Access To New &amp; Existing Customers. Grow the customer base with Guest Registration &amp; WiFi - Improve Business Operations and services using Real-Time data</p>
                <!-- <img src="<%= assets %>/img/BreakThrough/reservation.png" alt="breakThroughReservation" class="img-responsive mb-4"> -->
            </div>

            <div class="col-xs-12 mt-4 p-min">
                <div class="col-md-7 col-xs-12 mb-4 no-p">
                    <img src="<%= assets %>/img/BreakThrough/business/businessAnalytics-2.png" alt="" class="img-responsive ">
                </div>
                <div class="col-md-5 col-xs-12 mb-6 p-min">
                    <div class="col-xs-12 p-min image-center">
                         <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-1.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 no-p pt-2">
                            <span class="title-bold mb0">Enable Wifi</span>
                            <p >Access for guests</p>
                        </div>
                    </div>    
                    <div class="col-xs-12 mt-4 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-2.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 no-p pt-1">
                            <span class="title-bold mb0">Collect Guest</span>
                            <p >Information &amp;Demographics </p>
                        </div>
                    </div> 
                    <div class="col-xs-12 mt-4 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-3.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 no-p pt-2">
                            <span class="title-bold mb0">Data Analytics</span>
                            <p>Business insights</p>
                        </div>
                    </div> 
                    <div class="col-xs-12 mt-4 p-min image-center">
                        <div class="col-xs-3">
                            <img src="<%= assets %>/img/number-4.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-9 no-p">
                            <span class="title-bold mb0">Improve Campaigns</span>
                            <p >Customer Services, Loyalty &amp; Grow the Business</p>
                        </div>
                    </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
