<div class="row panel panel-default">
	<div class="panel-heading">
		<a class="btn btn-primary pull-right" ng-click="addTicket()"><em class="fa fa-plus"></em>
		Add Ticket</a>
	</div>
	<div class="panel-body">
		<table id="event_ticket_table"  class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Store</th>
					<th>Section</th>
					<th>Price</th>
					<th>Sale Price</th>
					<th class="text-nowrap">Actions</th>
				</tr>
			</thead>
			<tbody>

			</tbody>

		</table>
	</div>
</div>