<div class="app_install text-center col-md-offset-2 col-md-8 col-md-offset-right-2">

    <div ng-if="showItzfun != true" class="img-singleline col-xs-12">
        <a href="//itunes.apple.com/us/app/venuelytics-for-business/id1155767700?ls=1&mt=8" target="_new"> <img class="footerApple" alt="App Store" ng-src="assets/img/apple-store.png" />
        </a>
        <a href="//play.google.com/store/apps/details?id=com.itzfun.biz&hl=en" target="_new"> <img class="footerAndroid" alt="Google Play Store" ng-src="assets/img/android.png" />
        </a>
    </div>
    <div ng-if="showItzfun === true" class="img-singleline col-xs-12">
        <a href="//itunes.apple.com/us/app/itzfun/id1035171101?mt=8" target="_new"> 
            <img class="footerApple" alt="App Store" ng-src="assets/img/apple-store.png" />
        </a>
        <a href="//play.google.com/store/apps/details?id=com.itzfun&hl=en" target="_new"> 
            <img class="footerAndroid" alt="Google Play Store" ng-src="assets/img/android.png" />
        </a>
     </div> 
</div>
